body{
    margin:0;
    background:#121212;
    font-family:Arial;
    color:white;
}


/* LOGIN / REGISTER BOX */

.box{
    width:350px;
    background:#1e1e1e;
    margin:120px auto;
    padding:30px;
    text-align:center;
    border-radius:10px;
}

.box input{
    width:90%;
    padding:10px;
    margin:10px;
    background:#333;
    border:none;
    color:white;
}

.box button{
    width:95%;
    padding:10px;
    background:#00e5ff;
    border:none;
    font-size:16px;
    cursor:pointer;
}

.error{
    color:red;
}


/* DASHBOARD */

.layout{
    display:flex;
}


/* SIDEBAR */

.sidebar{
    width:200px;
    background:#1c1c1c;
    height:100vh;
    padding:20px;
}

.sidebar h2{
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin:10px 0;
    background:#333;
    border-radius:5px;
}

.sidebar a:hover{
    background:#00e5ff;
    color:black;
}


/* MAIN */

.main{
    flex:1;
    padding:30px;
}


/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin:20px 0;
}

.card{
    background:#1f1f1f;
    padding:20px;
    text-align:center;
    border-radius:8px;
}


/* COURSES */

.courses{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.course{
    background:#222;
    padding:20px;
    border-radius:8px;
}

.status{
    color:#00e5ff;
    font-size:14px;
}
