<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="layout">

<!---------------- SIDEBAR ---------------->
<div class="sidebar">

<h2>LMS</h2>

<a href="/dashboard"> Dashboard</a>
<a href="/profile"> Profile</a>
<a href="/help">Help</a>
<a href="/logout">🚪 Logout</a>

</div>


<!---------------- MAIN ---------------->
<div class="main">

<h2>Welcome, {{ name }}</h2>


<!------ STATS ------>
<div class="stats">

<div class="card">
<h3>{{ courses|length }}</h3>
<p>Courses</p>
</div>

<div class="card">
<h3>5h 30m</h3>
<p>Learning Time</p>
</div>

<div class="card">
<h3>3</h3>
<p>Badges</p>
</div>

<div class="card">
<h3>850</h3>
<p>Points</p>
</div>

</div>


<!------ COURSES ------>
<h3>My Courses</h3>

<div class="courses">

{% for c in courses %}

<div class="course">

<h4>{{ c.title }}</h4>

<p>{{ c.description }}</p>

<span class="status">Completed</span>

</div>

{% endfor %}

</div>


</div>
</div>

</body>
</html>
